[telegram]
token = "your_telegram_bot_token_here"

[whitelist]
usernames = [
    "username1",
    "user_id_1",
    "username2",
    "user_id_2"
]

[gate_io.account1]
api_key = "your_gate_api_key_1_here"
api_secret = "your_gate_api_secret_1_here"
name = "Account 1 Name"

[gate_io.account2]
api_key = "your_gate_api_key_2_here"
api_secret = "your_gate_api_secret_2_here"
name = "Account 2 Name"

[gate_io.account3]
api_key = "your_gate_api_key_3_here"
api_secret = "your_gate_api_key_3_here"
name = "Account 3 Name"